<section class="border-dev flex flex-row bg-secondary mobile-height-2 width-100">
	<div class="mobile-only flex flex-row justify-content-even align-content-center text-size-1 flex-grow-1">

			<div>Home</div>
			<div>Breeds</div>
			<div>Puppies</div>
			<div>About</div>

	</div>
	<div class="desktop-only nav desktop-heigt-5">
		<p>Desktop Nav</p>
	</div>
</section>


