<!DOCTYPE html>
<html>
  <!-- Head -->
  <%- include('./partials/head.ejs') %>
  <!-- Head -->
  <body>

    <!-- Nav -->
    <%- include('./partials/nav.ejs') %>
    <!-- Nav -->

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>More Coming Soon!</p>
  </body>
</html>
