html{
  background-color: #6C976B;
}

body {
  padding: 2rem;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.border-dev {
  border: 1px solid black;
}

/* width settings */
.width-100{width: 100%;}

/* background color selectors */
.bg-primary{background-color: #6C976B;}
.bg-secondary{background-color: #E4FEDB;}
.bg-white{background-color: white;}

/* hides mobile-only elements when screen width larger than 600px */
.mobile-only {display: none;}

/* Text Size Settings */
.text-size-1 { font-size: 1em; }
.text-size-2 { font-size: 2em; }
.text-size-3 { font-size: 3em; }
.text-size-4 { font-size: 4em; }
.text-size-5 { font-size: 5em; }

/* FlexBox Styling */
.flex { display: flex;}
.flex-row {flex-direction: row;}
.flex-column {flex-direction: column;}
.flex-1{flex: 1}
.justify-content-even {justify-content: space-evenly;}
.justify-content-even {justify-content: space-around;}
.align-content-center {align-content: center;}

/* Styling for mobile go here */
@media (max-width: 600px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }

  /* height settings for mobile elements */
  .mobile-height-1 { height: 1rem; }
  .mobile-height-2 { height: 2rem; }
  .mobile-height-3 { height: 3rem; }
  .mobile-height-4 { height: 4rem; }
  .mobile-height-5 { height: 5rem; }


}



